# ignore .pro.user by Qt Creator
ChineseChess.pro.user
ChineseChess.pro.user*

# ignore object file
*.o
*.obj
chinaChess

# Qt-es
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
/.qmake.cache
/.qmake.stash
